<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>555851306721-k4jgrtkj8dd9vauo6cgik5nc218pcu6o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.555851306721-k4jgrtkj8dd9vauo6cgik5nc218pcu6o</string>
	<key>API_KEY</key>
	<string>AIzaSyDsOs4aPPw-ogxjhOpJfcxmGR1DYxJ7ALc</string>
	<key>GCM_SENDER_ID</key>
	<string>555851306721</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.fusang.mobile.poc</string>
	<key>PROJECT_ID</key>
	<string>fusangmobilepoc</string>
	<key>STORAGE_BUCKET</key>
	<string>fusangmobilepoc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555851306721:ios:1b9d78e80ca4cd6c4dc9a0</string>
</dict>
</plist>